Repository hseoy/chrome-extension-react-typescript-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .tsx --ext .ts --fix, prettier --write src, prettier --write

Add README
  README.md
Due: prettier --write

Fix typo
  README.md
Due: prettier --write

Add 'built with' section to README
  README.md
Due: prettier --write

Remove 'yarn test' from pre-commit script
  .husky/pre-commit
Due: none

Add packages for testing react
  package.json
  yarn.lock
Due: prettier --write

chore: endOfLine prettier option을 auto로 설정
  .prettierrc
Due: none

chore: .dev.env, .prod.env를 삭제하고 .env를 사용하도록 통일
  .config/.dev.env
  .config/.prod.env
  package.json
Due: prettier --write

chore: author example 값 추가
  package.json
Due: prettier --write

chore: 빌드 관련 설정 수정
  .babelrc
  .husky/pre-commit
  config/babel.config.json
  config/jest.config.js
  config/lintstagedrc.json
  config/webpack.config.js
  config/webpack/env.js
  config/webpack/getPublicUrlOrPath.js
  config/webpack/paths.js
  config/webpack/webpack.common.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package.json
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix, prettier --write src, prettier --write

chore: 불필요한 main 속성 삭제
  package.json
Due: prettier --write

chore: eslintignore 파일 대신 ignorePatterns 속성 사용
  .eslintignore
  .eslintrc.js
Due: eslint --ext .tsx --ext .ts --fix, prettier --write src

[#1] chore: env-cmd 옵션으로 --silent를 추가하여 .env 파일이 없을 때 오류 무시하도록 설정
  package.json
Due: prettier --write

Path conditions:
  eslint --ext .tsx --ext .ts --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write src: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md}
